.main-page {
    padding: 20px;
}

.main-page-description {
  color: gray;
}

.img img {
  padding: 10px;
}

.accelerator {
	font-size: 10pt;
	font-family: courier;
}

li {
  margin-bottom: 1.3em;
}

.menuPath {
  color: gray;
  padding-bottom: 20px;
}
