.main-page {
    padding: 20px;
}

.main-page-description {
  color: gray;
}

img {
  max-width: 100%;
  height: auto;
}

.accelerator {
	font-size: 10pt;
	font-family: courier;
}

li {
  margin-bottom: 1.3em;
}

.menuPath {
  color: gray;
  padding-bottom: 20px;
}

figure {
  text-align: center;
}

figcaption {
  color: #A0A0A0;
  font-size: smaller;
  margin-bottom: 1em;
  max-width: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
