.main-page {
    padding: 20px;
}

.main-page-description {
  color: gray;
}

img {
  max-width: 100%;
  height: auto;
}

.accelerator {
	font-size: 10pt;
	font-family: courier;
}

li {
  margin-bottom: 1.3em;
}

.menuPath {
  color: gray;
  padding-bottom: 20px;
}

figure {
  text-align: center;
}

figcaption {
  color: #A0A0A0;
  font-size: smaller;
  margin-bottom: 1em;
  max-width: 40em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

table {
    border-collapse: collapse;
}

th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-left: 0;
  border-right: 0;
  background: #f0f0f0;
  color: #707070;
}
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  vertical-align: top;
}

.ms-rkw {
  font-weight: 400;
  color: #aa00aa;
}

.ms-bkw {
  font-weight: 400;
  color: #00aaff;
}

.expr {
    white-space: nowrap;
}

.tip {
  color: #A0A0A0;
  font-size: smaller;
}


@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	tr { border-bottom: 1px solid #a0a0a0; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 35%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 35%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Keyword"; color: #707070; font-weight: bold;}
	td:nth-of-type(2):before { content: "Example"; color: #707070; font-weight: bold;}
	td:nth-of-type(3):before { content: "Intuitive Meaning"; color: #707070; font-weight: bold;}
}
