<?xml version = "1.0" encoding = "UTF-8"?>

<launch>
  <pluginDirectory dir="Contents/Resources/Java/plugins"/>
  <systemProperties/>
  <frameworkProperties>
    <property name="org.osgi.framework.bootdelegation" value="sun.*,com.sun.*,apple.*,com.apple.*"/>
    <property name="org.osgi.framework.system.packages.extra" 
              value="javax.xml.parsers,org.xml.sax,org.xml.sax.ext,org.xml.sax.helpers"/>
    <property name="org.osgi.framework.storage.clean" 
              value="onFirstInit"/>
  </frameworkProperties>
  <bundles dir="Contents/Resources/Java/bundle">
    <bundle name="org.protege.common.jar"/>
    <bundle name="org.eclipse.equinox.common.jar"/>
    <bundle name="org.eclipse.equinox.registry.jar"/>
    <bundle name="org.eclipse.equinox.supplement.jar"/>
    <bundle name="org.protege.jaxb.jar"/>
    <bundle name="org.protege.editor.core.application.jar"/>
  </bundles>

</launch>


