<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
    <key>CFBundleShortVersionString</key>
    <string>@shortVersion@</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>owl</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OWL Ontology</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleIconFile</key>
	<string>Protege</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Protege</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>100.0</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>Contents/Resources/Java/felix.jar:Contents/Resources/Java/ProtegeLauncher.jar</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>org.protege.osgi.framework.Launcher</string>
		<key>Properties</key>
		<dict>
			<key>org.protege.launch.config</key>
			<string>Contents/Resources/config.xml</string>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.mrj.application.growbox.intrudes</key>
			<string>true</string>
            <key>apple.laf.useScreenMenuBar</key>
            <string>true</string>
			<key>file.encoding</key>
			<string>UTF-8</string>
			<key>log4j.configuration</key>
			<string>file:Contents/Resources/log4j.xml</string>
			<key>entityExpansionLimit</key>
			<string>100000000</string>
		</dict>
		<key>VMOptions</key>
		<array>
            <string>-server</string>
			<string>-Xms250M</string>
			<string>-Xmx500M</string>
		</array>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE</string>
	</dict>
</dict>
</plist>
