# Maven
target/

# Eclipse
.classpath
.project
.settings/
META-INF/
build.properties
plugin.xml

#intelliJ
*.iws
*.ipr
.idea
*.iml
build/

_site
_views
_posts
_menus
assets
installation

# Add 2026-09-19
/protege-desktop/jre/
/protege/jre/
**/jre/