<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

    <extension-point id="inference.reasonerfactory"
                     name="Reasoner Factory"
                     schema="schema/ReasonerFactory.exsd"/>

    <extension-point id="ui.renderer.entitycolorprovider"
                     name="Entity Color Provider"
                     schema="schema/EntityColorProvider.exsd"/>

    <extension-point id="model.libraryfactory"
                     name="Library Factory"
                     schema="schema/LibraryFactory.exsd"/>

    <extension-point id="moveaxiomskit"
                     name="Move Axioms Kit"/>

    <extension-point id="io.listener"
                     name="IO Listener"/>

    <extension id="FolderLibrary"
               point="org.protege.editor.owl.model.libraryfactory">
        <class value="org.protege.editor.owl.model.library.folder.FolderOntologyLibraryFactory"/>
    </extension>

    <!-- An clsdescriptioneditor kit factory that can produce clsdescriptioneditor kits that edit owl ontologies -->

    <extension id="OWLEditorKitFactory"
               point="org.protege.editor.core.application.EditorKitFactory">
        <label value="OWL ontology"/>
        <class value="org.protege.editor.owl.OWLEditorKitFactory"/>
    </extension>


    <!-- Renderer prefs -->

    <extension id="ui.preferences.renderer"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="Renderer"/>
        <class value="org.protege.editor.owl.ui.renderer.RendererPreferencesPanel"/>
    </extension>

    <extension id="org.protege.editor.owl.ui.preferences.annotation"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="Annotations"/>
        <class value="org.protege.editor.owl.ui.preferences.AnnotationPreferencesPanel"/>
    </extension>

    <extension id="ui.preferences.newentity"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="New Entities"/>
        <class value="org.protege.editor.owl.ui.preferences.NewEntitiesPreferencesPanel"/>
    </extension>


    <!-- Ontology Tab -->

    <extension id="OWLOntologyTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Active Ontology"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="A"/>
        <defaultViewConfigFileName value="viewconfig-ontologytab.xml"/>
    </extension>

    <!-- Entities Tab -->

    <extension id="OWLEntitesTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Entities"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="B"/>
        <defaultViewConfigFileName value="viewconfig-entitiestab.xml"/>
    </extension>

    <!-- Classes Tab -->

    <extension id="OWLClassesTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Classes"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="C"/>
        <defaultViewConfigFileName value="viewconfig-classestab.xml"/>
    </extension>

    <!-- Object Properties Tab -->

    <extension id="OWLObjectPropertiesTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Object Properties"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="D"/>
        <defaultViewConfigFileName value="viewconfig-objectpropertiestab.xml"/>
    </extension>

    <!-- Data properties tab -->

    <extension id="OWLDataPropertiesTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Data Properties"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="E"/>
        <defaultViewConfigFileName value="viewconfig-datapropertiestab.xml"/>
    </extension>

    <!-- Individuals tab -->

    <extension id="OWLIndividualsTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Individuals"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="F"/>
        <defaultViewConfigFileName value="viewconfig-individualstab.xml"/>
    </extension>

    <!-- Annotation properties tab

    <extension id="OWLAnnotationPropertiesTab"
               point="org.protege.editor.core.application.WorkspaceTab" >  
        <label value="Annotation Properties"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="E"/>
        <defaultViewConfigFileName value="viewconfig-annotationpropertiestab.xml"/>
    </extension>

    -->

    <!-- Views -->

    <extension id="OWLOntologyAnnotationsView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Ontology Annotations"/>
        <class value="org.protege.editor.owl.ui.view.OWLOntologyAnnotationViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension id="OWLOntologyMetricsView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Ontology Metrics"/>
        <class value="org.protege.editor.owl.ui.metrics.AxiomMetricsViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension id="DLMetricsView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="DL Metrics"/>
        <class value="org.protege.editor.owl.ui.metrics.DLMetricsViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension id="OWLOntologyImportsTable"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Imported Ontologies"/>
        <class value="org.protege.editor.owl.ui.view.OWLImportsDeclarationsViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension id="Rules"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Rules"/>
        <class value="org.protege.editor.owl.ui.view.SWRLRulesViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension id="GeneralClassAxioms"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="General Class Axioms"/>
        <class value="org.protege.editor.owl.ui.view.OWLGeneralAxiomsViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <extension id="InferredAxioms"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Inferred Axioms"/>
        <class value="org.protege.editor.owl.ui.view.InferredAxiomsViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension id="OWLAssertedClassHierarchy"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Asserted Class Hierarchy"/>
        <class value="org.protege.editor.owl.ui.clshierarchy.ToldOWLClassHierarchyViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <extension
            id="OWLAssertedSuperClassHierarchy"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Asserted Superclass Hierarchy"/>
        <class value="org.protege.editor.owl.ui.clshierarchy.ToldSuperClassHierarchyViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <extension
            id="OWLInferredSuperClassHierarchy"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Inferred Superclass Hierarchy"/>
        <class value="org.protege.editor.owl.ui.clshierarchy.InferredSuperClassHierarchyViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>


    <extension id="OWLIndividualsByClass"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Individuals By Class"/>
        <class value="org.protege.editor.owl.ui.view.OWLIndividualsByClassViewComponent"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
    </extension>


        <extension id="OWLMembersList"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Members List"/>
        <class value="org.protege.editor.owl.ui.view.OWLMembersListViewComponent"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
    </extension>


    <extension id="OWLClassAnnotations"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Class Annotations"/>
        <class value="org.protege.editor.owl.ui.view.OWLClassAnnotationsViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>


    <extension id="OWLClassDescription"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Class Description"/>
        <class value="org.protege.editor.owl.ui.view.OWLClassDescriptionViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <extension id="OWLObjectPropertyTree"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Object Properties"/>
        <class value="org.protege.editor.owl.ui.view.OWLObjectPropertyHierarchyViewComponent"/>
        <headerColor value="@org.protege.objectpropertycolor"/>
        <category value="@org.protege.objectpropertycategory"/>
    </extension>

    <extension id="InferredObjectPropertyTree"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Inferred Object Property Hierarchy"/>
        <class value="org.protege.editor.owl.ui.view.InferredObjectPropertyHierarchyViewComponent"/>
        <headerColor value="@org.protege.objectpropertycolor"/>
        <category value="@org.protege.objectpropertycategory"/>
    </extension>

    <extension id="OWLDataPropertyTree"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Data Properties"/>
        <class value="org.protege.editor.owl.ui.view.OWLDataPropertyHierarchyViewComponent"/>
        <headerColor value="@org.protege.datapropertycolor"/>
        <category value="@org.protege.datapropertycategory"/>
    </extension>

    <extension
            id="OWLObjectPropertyAnnotations"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Annotations"/>
        <class value="org.protege.editor.owl.ui.view.OWLObjectPropertyAnnotationsViewComponent"/>
        <headerColor value="@org.protege.objectpropertycolor"/>
        <category value="@org.protege.objectpropertycategory"/>
    </extension>

    <extension
            id="OWLObjectPropertyDescription"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Description"/>
        <class value="org.protege.editor.owl.ui.view.OWLObjectPropertyDescriptionViewComponent"/>
        <headerColor value="@org.protege.objectpropertycolor"/>
        <category value="@org.protege.objectpropertycategory"/>
    </extension>


    <extension
            id="OWLObjectPropertyDomainsAndRanges"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Domains and ranges"/>
        <class value="org.protege.editor.owl.ui.view.OWLObjectPropertyDomainsAndRangesViewComponent"/>
        <headerColor value="@org.protege.objectpropertycolor"/>
        <category value="@org.protege.objectpropertycategory"/>
    </extension>

    <extension id="OWLDataPropertyDescription"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Description"/>
        <class value="org.protege.editor.owl.ui.view.OWLDataPropertyDescriptionViewComponent"/>
        <headerColor value="@org.protege.datapropertycolor"/>
        <category value="@org.protege.datapropertycategory"/>
    </extension>

    <extension
            id="OWLObjectPropertyCharacteristics"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Characteristics"/>
        <class value="org.protege.editor.owl.ui.view.OWLObjectPropertyCharacteristicsViewComponent"/>
        <headerColor value="@org.protege.objectpropertycolor"/>
        <category value="@org.protege.objectpropertycategory"/>
    </extension>

    <extension id="OWLDataPropertyAnnotations"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Data Property Annotations"/>
        <class value="org.protege.editor.owl.ui.view.OWLDataPropertyAnnotationsViewComponent"/>
        <headerColor value="@org.protege.datapropertycolor"/>
        <category value="@org.protege.datapropertycategory"/>
    </extension>

    <extension id="OWLDataPropertyDomainsAndRanges"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Domains and ranges"/>
        <class value="org.protege.editor.owl.ui.view.OWLDataPropertyDomainsAndRangesViewComponent"/>
        <headerColor value="@org.protege.datapropertycolor"/>
        <category value="@org.protege.datapropertycategory"/>
    </extension>

    <extension
            id="OWLDataPropertyCharacteristics"
            point="org.protege.editor.core.application.ViewComponent">
        <label value="Data Property characteristics"/>
        <class value="org.protege.editor.owl.ui.view.OWLDataPropertyCharacteristicsViewComponent"/>
        <headerColor value="@org.protege.datapropertycolor"/>
        <category value="@org.protege.datapropertycategory"/>
    </extension>


    <extension id="OWLIndividualsList"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Individuals"/>
        <class value="org.protege.editor.owl.ui.view.OWLIndividualListViewComponent"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
    </extension>


    <!--
    <extension id="OWLClassInstancesList"
               point="org.protege.editor.core.application.ViewComponent" >
        <label value="Class Instances"/>
        <class value="org.protege.editor.owl.ui.individuals.clsinstance.OWLClassInstancesViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>
    -->

    <extension id="OWLIndividualAnnotations"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Individual Annotations"/>
        <class value="org.protege.editor.owl.ui.view.OWLIndividualAnnotationsViewComponent"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
    </extension>

    <extension id="OWLIndividualTypes"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Description"/>
        <class value="org.protege.editor.owl.ui.view.OWLIndividualDescriptionViewComponent"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
    </extension>

    <extension id="OWLIndividualRelationships"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Property assertions"/>
        <class value="org.protege.editor.owl.ui.view.OWLIndividualPropertyAssertionsViewComponent"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
    </extension>

    <extension id="OWLAxiomAnnotationsView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Axiom Annotations"/>
        <class value="org.protege.editor.owl.ui.view.OWLAxiomAnnotationsView"/>
        <headerColor value="@#000000"/>
    </extension>

    <!-- Renderer views -->

    <extension id="RDFXML"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="RDF/XML Rendering"/>
        <class value="org.protege.editor.owl.ui.view.RDFXMLRenderingViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension id="OWLXML"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="OWL/XML Rendering"/>
        <class value="org.protege.editor.owl.ui.view.OWLXMLRenderingViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>


    <extension id="ManchesterOWLSyntax"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Manchester Syntax Rendering"/>
        <class value="org.protege.editor.owl.ui.view.ManchesterSyntaxRenderingViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension id="OWLFunctionalSyntax"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="OWL Functional Syntax Rendering"/>
        <class value="org.protege.editor.owl.ui.view.OWLFunctionalSyntaxRenderingViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <!-- Menu items -->
    <!-- File menu -->


    <extension id="openfromURI"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Open from URI..."/>
        <class value="org.protege.editor.owl.ui.action.OpenFromURIAction"/>
        <toolTip value="Open an ontology from a URI"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAA-G"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="shift O"/>
    </extension>

    <!--<extension id="closeOntologies"-->
               <!--point="org.protege.editor.core.application.EditorKitMenuAction">-->
        <!--<name value="Close ontologies..."/>-->
        <!--<class value="org.protege.editor.owl.ui.action.CloseOntologiesAction"/>-->
        <!--<toolTip value="Close one or more of the ontologies in the current window"/>-->
        <!--<path value="org.protege.editor.core.application.menu.FileMenu/SlotE-A"/>-->
        <!--<editorKitId value="OWLEditorKit"/>-->
    <!--</extension>-->


    <extension id="change.undo"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Undo"/>
        <class value="org.protege.editor.owl.ui.action.UndoAction"/>
        <toolTip value="Undo the last set of changes"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotAB-Z"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="Z"/>
    </extension>

    <extension id="gatherontologies"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Gather ontologies..."/>
        <class value="org.protege.editor.owl.ui.action.GatherOntologiesAction"/>
        <toolTip value="Collects together all loaded ontologies in a particular folder without modifying the originals"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAB-C"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="shift G"/>
    </extension>


    <extension id="exportinferredaxioms"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Export inferred axioms as ontology..."/>
        <class value="org.protege.editor.owl.ui.action.ExportInferredOntologyAction"/>
        <toolTip value="Exports inferred axioms as an ontology"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAB-D"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>


    <extension id="change.redo"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Redo"/>
        <class value="org.protege.editor.owl.ui.action.RedoAction"/>
        <toolTip value="Redo the last set of changes"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotA-B"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="shift Z"/>
    </extension>


    <extension id="find"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Find in view..."/>
        <class value="org.protege.editor.owl.ui.action.FindAction"/>
        <toolTip value="Find an entity in the focused view"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotD-A"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="F"/>
    </extension>


    <extension id="cut"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Cut"/>
        <class value="org.protege.editor.owl.ui.action.CutAction"/>
        <toolTip value="Cut"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotC-B"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="X"/>
    </extension>


    <extension id="copy"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Copy"/>
        <class value="org.protege.editor.owl.ui.action.CopyAction"/>
        <toolTip value="Copy"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotC-C"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="C"/>
    </extension>


    <extension id="paste"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Paste"/>
        <class value="org.protege.editor.owl.ui.action.PasteAction"/>
        <toolTip value="Paste"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotC-D"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="V"/>
    </extension>


    <!-- Create actions -->

    <extension id="createnew"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Create new"/>
        <class value="org.protege.editor.owl.ui.action.CreateNewObjectAction"/>
        <toolTip value="Create a new object in the selected view"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotE-A"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="N"/>
    </extension>


    <extension id="createnewchild"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Create child"/>
        <class value="org.protege.editor.owl.ui.action.CreateNewChildAction"/>
        <toolTip value="Create a child of the selected object in the selected view"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotE-B"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="BACK_SLASH"/>
    </extension>

    <extension id="createnewsibling"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Create sibling"/>
        <class value="org.protege.editor.owl.ui.action.CreateNewSiblingAction"/>
        <toolTip value="Create a sibling of the selected object in the selected view"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotE-C"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="SLASH"/>
    </extension>


    <extension id="edit.duplicate"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Duplicate selected class..."/>
        <class value="org.protege.editor.owl.ui.action.DuplicateSelectedClassAction"/>
        <toolTip value="Duplicates the current class. This copies the class, its superclasses and equivalent classes."/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotM-A"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="shift C"/>
    </extension>

    <extension id="menu.ConvertToPrimitveClass"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Convert to primitive class"/>
        <class value="org.protege.editor.owl.ui.action.ConvertToPrimitiveClassAction"/>
        <toolTip value="Converts the equivalent classes of the selected class to superclasses."/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotM-B"/>
        <accelerator value="P"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>


    <extension id="menu.ConvertToDefinedClass"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Convert to defined class"/>
        <class value="org.protege.editor.owl.ui.action.ConvertToDefinedClassAction"/>
        <toolTip value="Converts the superclasses of the selected class to an equivalent class."/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotM-C"/>
        <accelerator value="D"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="menu.AddCoveringAxiom"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Add covering axiom"/>
        <class value="org.protege.editor.owl.ui.action.AddCoveringAxiomAction"/>
        <toolTip value="Adds a covering axiom to the selected class.  If a class A has subclassses B, C and D              then the covering axiom for A is the union class (B or C or D).  This forces all instances of A to be a member of one              of its subclasses."/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotM-D"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="menu.MakeAllIndividualsDistinct"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Make all individuals distinct..."/>
        <class value="org.protege.editor.owl.ui.action.MakeAllIndividualsDifferent"/>
        <toolTip value="Removes all owl:DifferentIndividuals statements and creates one owl:DifferentIndividuals statement containing all individuals.  This only changes the active ontology."/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotM-E"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="menu.MakePrimitiveSiblingsDisjoint"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Make primitive siblings disjoint"/>
        <class value="org.protege.editor.owl.ui.action.MakePrimitiveSiblingsDisjoint"/>
        <toolTip value="Makes primitive sibling classes disjoint.  All disjoint axioms are added             to the current ontology."/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotM-F"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="J"/>
    </extension>

    <extension id="menu.RemoveLocalDisjointAxioms"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Remove disjoints for subclasses..."/>
        <class value="org.protege.editor.owl.ui.action.RemoveLocalDisjointAxiomsAction"/>
        <toolTip value="Removes all of the disjoint axioms that reference subclasses of the selected class."/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotM-G"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="menu.RemoveAllDisjointAxioms"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Remove all disjoint axioms..."/>
        <class value="org.protege.editor.owl.ui.action.RemoveAllDisjointAxiomsAction"/>
        <toolTip value="Removes all of the disjoint axioms."/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotM-H"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="ui.prefix"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Prefixes..."/>
        <class value="org.protege.editor.owl.ui.prefix.ShowPrefixMappingsAction"/>
        <toolTip value="View and edit the prefix value mappings"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotQ-A"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="shift P"/>
    </extension>


    <!-- Ontology libraries/locations -->

    <extension id="file.showontologylibraries"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Ontology libraries..."/>
        <class value="org.protege.editor.owl.ui.library.ShowOntologyLibrariesAction"/>
        <toolTip value="View, add and edit the ontology libraries"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotD-A"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="L"/>
    </extension>

    <extension id="file.ontologylocations"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Loaded ontology sources..."/>
        <class value="org.protege.editor.owl.ui.ontology.location.ShowOntologyLocationsAction"/>
        <toolTip value="Shows the physical URIs from where currently loaded ontologies were obtained from"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotD-B"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>


    <!-- Ontologies menu -->

    <extension id="menu.OntologyMenu"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Ontologies"/>
        <toolTip value="Set ontology visibility"/>
        <path value="/SlotC-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <!--extension id="ontologies.activeontology"
                point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Show only the active ontology"/>
        <class value="org.protege.editor.owl.ui.action.ActiveOntologyStrategyAction"/>
        <toolTip value="Only the active ontology is visible"/>
        <path value="org.protege.editor.owl.menu.OntologyMenu/SlotA-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="ontologies.importsclosure"
                point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Show the imports closure of the active ontology"/>
        <class value="org.protege.editor.owl.ui.action.ImportsClosureOntologyStrategyAction"/>
        <toolTip value="Ontologies that are in the imports closure of the active ontology are visible"/>
        <path value="org.protege.editor.owl.menu.OntologyMenu/SlotA-B"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="ontologies.allontologies"
                point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Show all loaded ontologies"/>
        <class value="org.protege.editor.owl.ui.action.AllOntologiesStrategyAction"/>
        <toolTip value="All loaded ontologies are visible"/>
        <path value="org.protege.editor.owl.menu.OntologyMenu/SlotA-C"/>
        <editorKitId value="OWLEditorKit"/>
    </extension-->

    <!--extension id="ontologies.visibilitymanager"
                point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Show user selected ontologies..."/>
        <class value="org.protege.editor.owl.ui.action.VisibilityManagerOntologySelectionStrategyAction"/>
        <toolTip value="User selected ontologies are visible"/>
        <path value="org.protege.editor.owl.menu.OntologyMenu/SlotA-D"/>
        <editorKitId value="OWLEditorKit"/>
    </extension-->

    <!-- Reasoner menu -->

    <extension id="menu.Reasoner"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Reasoner"/>
        <toolTip value="Invoke and configure reasoners"/>
        <path value="/SlotD-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension
            id="inference.computeinconsistentclasses"
            point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Classify..."/>
        <class value="org.protege.editor.owl.ui.inference.ClassifyAction"/>
        <toolTip value="Classify ontology and show results"/>
        <path value="org.protege.editor.owl.menu.Reasoner/SlotA-A"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="R"/>
    </extension>


    <extension id="InferredOWLClassHierarchy"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Inferred class hierarchy"/>
        <class value="org.protege.editor.owl.ui.clshierarchy.InferredOWLClassHierarchyViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <!-- Refactor menu -->

    <extension id="menu.Refactor"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Refactor"/>
        <toolTip value="Refactor the ontology, or the selected class, property or individual"/>
        <path value="/SlotH-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>


    <extension id="deleteentity"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Delete ..."/>
        <class value="org.protege.editor.owl.ui.action.DeleteAction"/>
        <toolTip value="Deletes the selection in the focused view"/>
        <path value="org.protege.editor.core.application.menu.EditMenu/SlotC-E"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="DELETE"/>
    </extension>

    <extension id="menu.RenameEntity"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Rename..."/>
        <class value="org.protege.editor.owl.ui.action.RenameEntityAction"/>
        <toolTip value="Change the URI of the selected entity (rename)"/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotA-B"/>
        <editorKitId value="OWLEditorKit"/>
        <accelerator value="U"/>
    </extension>

    <extension id="menu.RenameEntitiesBySearchAndReplace"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Rename entities..."/>
        <class value="org.protege.editor.owl.ui.action.RenameEntitiesBySearchAndReplaceAction"/>
        <toolTip value="Change the URI of entities using search and replace"/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotA-C"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="menu.ChangeOntologyURI"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Change ontology URI..."/>
        <class value="org.protege.editor.owl.ui.action.ChangeOntologyURI"/>
        <toolTip value="Change the URI of the active ontology"/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotA-X"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>


    <extension id="menu.ConvertEntityURIsToLabels"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Convert entity URIs to labels"/>
        <class value="org.protege.editor.owl.ui.action.ConvertEntityURIsToLabels"/>
        <toolTip value="Change the URI of all entities to an ID and move the name to a label annotation on the entity as per settings in the New Entity preferences"/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotA-Y"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>


    <extension id="menu.ChangePropertyAssertionPunsToAnnotations"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Convert property assertion on class/individual puns to annotations"/>
        <class value="org.protege.editor.owl.ui.action.ConvertAssertionsOnPunsToAnnotations"/>
        <toolTip value="Converts any property assertions with a subject which is a pun to an annotation on the class which is punned"/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotB-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="menu.CoerceDataPropertyValuesIntoPropertyRange"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Coerce data property values into property range"/>
        <class value="org.protege.editor.owl.ui.action.CoerceDataPropertyValuesIntoPropertyRangeAction"/>
        <toolTip value="Coerces any data property value into (to be typed by) the range of the data property"/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotB-B"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="menu.SplitSubClassAxioms"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Split subclass axioms"/>
        <class value="org.protege.editor.owl.ui.action.SplitSubClassAxiomsAction"/>
        <toolTip value="Splits subclass axioms in the active ontologies into more fine
        grained axioms.  For example, A subClassOf (B and C) would be split into A subClassOf B, and
        A subClassOf C"/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotC-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="menu.AmalgamateSubClassAxioms"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Amalgamate subclass axioms"/>
        <class value="org.protege.editor.owl.ui.action.AmalgamateSuperClassesAction"/>
        <toolTip value="Merges subclass axioms that have a common left hand side.  For example,
        A subClassOf B, A subClassOf C would be merged into a single subclass axiom, A subClassOf (B and C)."/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotC-B"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>



    <extension id="menu.MergeOntologies"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Merge ontologies..."/>
        <class value="org.protege.editor.owl.ui.action.MergeOntologiesAction"/>
        <toolTip value="Merge one or more ontologies into an existing or new ontology."/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotF-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="menu.ConvertMinOneToSomeValuesFromAction"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Convert qualified min cardinality 1 to someValuesFrom"/>
        <class value="org.protege.editor.owl.ui.action.ConvertMinOneToSomeValuesFromAction"/>
        <toolTip value="Finds all uses of qualified min cardinality 1 restrictions
         and replaces them with someValuesFrom restrictions."/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotD-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="menu.MoveAxiomsToOntologyAction"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Extract/move axioms ..."/>
        <class value="org.protege.editor.owl.ui.action.MoveAxiomsToOntologyAction"/>
        <toolTip value="Extract or move axioms from an ontology"/>
        <path value="org.protege.editor.owl.menu.Refactor/SlotE-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>


    <!--<extension
         point="org.protege.editor.core.application.EditorKitMenuAction"-->
    <!--id="menu.RemoveRedundantImports">-->
    <!--<name value="Remove redundant imports"/>-->
    <!--<class value="org.protege.editor.owl.ui.action.RemoveRedundantImportsAction"/>-->
    <!--<toolTip value="Analyses the imports graph and removes imports that aren't necessary."/>-->
    <!--<path value="org.protege.editor.owl.menu.Refactor/SlotF-B"/>-->
    <!--<editorKitId value="OWLEditorKit"/>-->
    <!--</extension>-->

    <!-- Tools menu -->

    <extension id="menu.tools"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Tools"/>
        <path value="/SlotG-A"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="file.usage"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Usage..."/>
        <class value="org.protege.editor.owl.ui.action.ShowUsageAction"/>
        <toolTip value="Shows the usage of the selected entity"/>
        <path value="org.protege.editor.owl.menu.tools/SlotR-B"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <!-- Species validation -->

    <!--
    <extension id="SpeciesValidationReport"
               point="org.protege.editor.core.application.ViewComponent"> 
        <label value="Species validation results"/>
        <class value="org.protege.editor.owl.ui.ontology.validation.SpeciesValidationViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
    </extension>
    -->


    <!-- Hierarchy creation -->
    <extension id="menu.CreateClassHierarchy"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Create class hierarchy..."/>
        <class value="org.protege.editor.owl.ui.action.CreateClassHierarchyAction"/>
        <toolTip value="Creates a class hierarchy from tab indented text, and inserts the new                        hierarchy into the existing class hierarchy at a specified position."/>
        <path value="org.protege.editor.owl.menu.tools/SlotF-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>


    <!-- Help menu -->

    <extension id="menu.PluginsMenuItem" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Protege-OWL plugins"/>
        <toolTip value="Protege 4.0 OWL plugins"/>
        <class value="org.protege.editor.owl.ui.action.PluginsMenuAction"/>
        <path value="org.protege.editor.core.application.menu.HelpMenu/SlotF-B"/>
        <editorKitId value="any"/>
    </extension>

    <!-- Usage Views -->

    <extension id="OWLClassUsageView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Class Usage"/>
        <class value="org.protege.editor.owl.ui.view.OWLClassUsageViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>

    <extension id="OWLObjectPropertyUsageView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Object Property Usage"/>
        <class value="org.protege.editor.owl.ui.view.OWLObjectPropertyUsageViewComponent"/>
        <headerColor value="@org.protege.objectpropertycolor"/>
        <category value="@org.protege.objectpropertycategory"/>
    </extension>

    <extension id="OWLDataPropertyUsageView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Data Property Usage"/>
        <class value="org.protege.editor.owl.ui.view.OWLDataPropertyUsageViewComponent"/>
        <headerColor value="@org.protege.datapropertycolor"/>
        <category value="@org.protege.datapropertycategory"/>
    </extension>

    <extension id="OWLIndividualUsageView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Individual Usage"/>
        <class value="org.protege.editor.owl.ui.view.OWLIndividualUsageViewComponent"/>
        <headerColor value="@org.protege.individualcolor"/>
        <category value="@org.protege.individualcategory"/>
    </extension>

    <extension id="ui.preferences.usage"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="Usage"/>
        <class value="org.protege.editor.owl.ui.usage.UsagePreferencesPanel"/>
    </extension>


    <extension id="ExplanationResultsView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Explanation"/>
        <class value="org.protege.editor.owl.ui.view.ExplanationResultsViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>


    <!--

    <extension id="SPARQLQueryTab">
               point="org.protege.editor.core.application.WorkspaceTab" 
            <label value="SPARQL"/>
            <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
            <editorKitId value="OWLEditorKit"/>
            <index value="Z"/>
        </extension>

    -->
    <!---->

    <!-- Reasoners -->


    <extension id="NoOpReasoner"
               point="org.protege.editor.owl.inference.reasonerfactory">
        <name value="None"/>
        <class value="org.protege.editor.owl.model.inference.NoOpReasonerFactory"/>
        <defaultReasoner value="true"/>
    </extension>


    <!-- Preferences -->

    <!-- Ontology prefs -->

    <extension
            id="ui.ontology.OntologyPreferencesPanel"
            point="org.protege.editor.core.application.preferencespanel">
        <label value="New Ontologies"/>
        <class value="org.protege.editor.owl.ui.ontology.OntologyPreferencesPanel"/>
    </extension>


    <extension
            id="io.rdfxmlwriter.XMLWriterPreferences"
            point="org.protege.editor.core.application.preferencespanel">
        <label value="XML Writer"/>
        <class value="org.protege.editor.owl.ui.preferences.XMLWriterPreferencesPanel"/>
    </extension>

    <!-- Finder prefs -->

    <extension id="ui.find.prefs"
               point="org.protege.editor.core.application.preferencespanel">
        <label value="Find/Search"/>
        <class value="org.protege.editor.owl.ui.find.FinderPreferencesPanel"/>
    </extension>

    <!-- Reasoner prefs -->

    <extension id="SelectedEntityView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Selected entity"/>
        <class value="org.protege.editor.owl.ui.view.SelectedEntityCardView"/>
        <headerColor value="565656"/>
        <category value="@org.protege.individualcategory"/>
    </extension>

    <extension id="NavigationView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Navigation view"/>
        <class value="org.protege.editor.owl.ui.view.ObjectSelectorViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension id="SelectedObjectView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Navigation subject"/>
        <class value="org.protege.editor.owl.ui.view.SelectedObjectViewComponent"/>
        <headerColor value="@org.protege.ontologycolor"/>
        <category value="@org.protege.ontologycategory"/>
    </extension>

    <extension
            id="TreePreferencesPanel"
            point="org.protege.editor.core.application.preferencespanel">
        <label value="Tree preferences"/>
        <class value="org.protege.editor.owl.ui.tree.OWLTreePreferencesPanel"/>
    </extension>

    <extension id="TONESRepository" point="org.protege.editor.core.application.OntologyRepositoryFactory">
        <class value="org.protege.editor.owl.model.repository.TONESRepositoryFactory"/>
    </extension>


</plugin>
