<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="EditorKitFactory" name="EditorKitFactory" 
                    schema="schema/EditorKitFactory.exsd"/>
   <extension-point id="WorkspaceTab" name="WorkspaceTab"
                    schema="schema/WorkspaceTab.exsd"/>
   <extension-point id="ViewComponent" name="ViewComponent" 
                    schema="schema/ViewComponent.exsd"/>
   <extension-point id="ViewAction" name="ViewAction"
                    schema="schema/ViewAction.exsd"/>
   <extension-point id="EditorKitMenuAction"
                    name="EditorKitMenuAction"
                    schema="schema/EditorKitMenuAction.exsd"/>
   <extension-point id="ToolBarAction" name="ToolBarAction"
                    schema="schema/ToolBarAction.exsd"/>
   <extension-point id="preferencespanel" 
                    name="preferencespanel"
                    schema="schema/preferencespanel.exsd"/>
   <extension-point id="EditorKitHook"
                     name="EditorKit Hook"/>
   <extension-point id="OntologyRepositoryFactory" name="Ontology Repository Factory"/>

    <!-- Set up standard menus -->

    <!-- File menu -->


   <extension
         id="menu.FileMenu"
         name="FileMenu"
         point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="File"/>
      <toolTip value="File menu tool tip!"/>
      <path value="/SlotA-A"/>
      <editorKitId value="any"/>
   </extension>

    <extension id="menu.file.new" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="New..."/>
        <toolTip value="Create a new empty ontology"/>
        <class value="org.protege.editor.core.ui.action.NewAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAA-E"/>
        <editorKitId value="any"/>
        <accelerator value="shift N"/>
    </extension>

    <extension id="menu.file.open" 
    		   point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Open..."/>
        <toolTip value="Open an ontology"/>
        <class value="org.protege.editor.core.ui.action.OpenAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAA-F"/>
        <editorKitId value="any"/>
        <accelerator value="O"/>
    </extension>

    <extension id="menu.file.openrecent" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Open recent"/>
        <toolTip value="Open a recent ontology"/>
        <class value="org.protege.editor.core.ui.action.OpenRecentAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAA-G"/>
        <editorKitId value="any"/>
        <dynamic value="true"/>
    </extension>

    <extension id="menu.file.close" 
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Close"/>
        <toolTip value="Close the current set of ontologies"/>
        <class value="org.protege.editor.core.ui.action.CloseAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotE-M"/>
        <editorKitId value="any"/>
        <accelerator value="W"/>
    </extension>

    <extension id="menu.file.save" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Save"/>
        <toolTip value="Save"/>
        <class value="org.protege.editor.core.ui.action.SaveAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAB-A"/>
        <editorKitId value="any"/>
        <accelerator value="S"/>
    </extension>

    <extension id="menu.file.saveas" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Save as..."/>
        <toolTip value="Save as"/>
        <class value="org.protege.editor.core.ui.action.SaveAsAction"/>
        <path value="org.protege.editor.core.application.menu.FileMenu/SlotAB-B"/>
        <editorKitId value="any"/>
        <accelerator value="shift S"/>
    </extension>


    <!-- Edit menu -->

    <extension id="menu.EditMenu"
                point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Edit"/>
        <toolTip value=""/>
        <path value="/SlotB-A"/>
        <editorKitId value="any"/>
    </extension>

    <!-- View menu -->

    <!-- Window menu -->

    <extension id="menu.window" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Window"/>
        <path value="/SlotW-A"/>
        <editorKitId value="any"/>
    </extension>

    <!-- Got rid of increase/decrease font size menu items in favour of a fonts preferences panel -->

    <extension id="menu.window.increasefontsize" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Increase font size"/>
        <path value="org.protege.editor.core.application.menu.window/SlotD-A"/>
        <toolTip value="Increase the font size"/>
        <class value="org.protege.editor.core.ui.action.IncreaseFontSizeAction"/>
        <editorKitId value="any"/>
        <accelerator value="EQUALS"/>
    </extension>

    <extension id="menu.window.decreasefontsize" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Decrease font size"/>
        <path value="org.protege.editor.core.application.menu.window/SlotD-B"/>
        <toolTip value="Decrease the font size"/>
        <class value="org.protege.editor.core.ui.action.DecreaseFontSizeAction"/>
        <editorKitId value="any"/>
        <accelerator value="MINUS"/>
    </extension>

    <extension id="menu.window.timestamp" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Timestamp log / console"/>
        <path value="org.protege.editor.core.application.menu.window/SlotE-A"/>
        <toolTip value="Prints a timestamp and optional message into the logs or console"/>
        <class value="org.protege.editor.core.ui.action.TimestampOutputAction"/>
        <editorKitId value="any"/>
    </extension>

    <!-- View menu -->

    <extension id="menu.view" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="View"/>
        <path value="/SlotK-A"/>
        <editorKitId value="any"/>
    </extension>

    <!-- Tabs menu -->

    <extension id="menu.tabs" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Tabs"/>
        <path value="/SlotJ-A"/>
        <editorKitId value="any"/>
    </extension>

    <!-- Help menu -->

    <extension id="menu.HelpMenu" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Help"/>
        <path value="/SlotZZZZ-Z"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="menu.DocumentationMenuItem" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Protege Documentation"/>
        <toolTip value="Online wiki for Protege 4.0 documentation"/>
        <class value="org.protege.editor.core.ui.menu.DocumentationMenuAction"/>
        <path value="org.protege.editor.core.application.menu.HelpMenu/SlotF-A"/>
        <editorKitId value="any"/>
    </extension>


</plugin>
