---
title: Views
layout: default
main: true
sortingIndex: C
description: Provides a list of all of the default views that are distributed with Protégé
---

<h1>Views</h1>

The Protégé user interface is made up of tabs that contain views.  The standard {{site.protege}} {{site.version}} views are described in more detail below.  Most of the views have a <b><a href="{{site.baseurl}}/view-look-and-feel">common look and feel</a></b> and consist of lists of sections containing items that pertain to the current selected class, property or individual.

<div>
{% assign sorted_views = (site.views | sort: 'title') %}

{% for view in sorted_views %}

	<div style="padding: 10px;">
		<div style="font-weight: bold;">
			<a href="{{site.baseurl}}{{view.url}}">{{view.title}}</a>
		</div>
		<div style="color: gray; font-size: smaller;">
			{{view.menuPath}}
		</div>
		<div>
				{{view.blurb}}
		</div>
	</div>
{% endfor %}

</div>
