---
title: Views
layout: default
main: true
sortingIndex: B
description: Provides a list of all of the default views that are distributed with Protégé
---

<h1>Views</h1>

These are some of the views that are available in {{site.protege}} {{site.version}}.

<div>
{% assign sorted_views = (site.views | sort: 'title') %}

{% for view in sorted_views %}

	<div style="padding: 20px;">
		<h2>
			<a href="{{site.baseurl}}/{{view.url}}">{{view.title}}</a>
		</h2>
		<div>
				{{view.blurb}}
		</div>
	</div>
{% endfor %}

</div>
