<?xml version="1.0" encoding="UTF-8" ?>

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

        <appender name="console" class="org.apache.log4j.ConsoleAppender">
           <param name="Threshold" value="INFO"/>
           <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="%m%n"/>
           </layout>
        </appender>
        
        <category name="org.mindswap.pellet">
            <priority value="error"/>
        </category>

        <!-- fear not, there is not too much here and it will be
             useful for a bit -->
        <category name="org.protege.editor.core.ProtegeApplication">
            <priority value="debug"/>
        </category>

        <root>
           <priority value ="info" />
           <appender-ref ref="console" />
        </root>

</log4j:configuration>