<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}



    <div class="page-content">
      <div class="wrapper">
        <!-- {% capture classexpression %}<a href="{{site.baseurl}}/class-expression-syntax">class expression</a>{% endcapture%} -->

        <!-- {{page.content | replace: 'class expression', classexpression -->
        <!-- | replace: 'CMD+', "&#x2318;+" }} -->

        {{ content }}
      </div>
    </div>

    <!-- {% include footer.html %} -->

  </body>

</html>
